*{
  box-sizing: content-box;
  margin: 0;
}

.Navbar-section{
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.845);
  position: sticky;
  top: 0px;
  z-index: 1;
}

#logo{
  width: 13vw;
  height: 5vh;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-family: Roboto, Helvetica;
  font-size: 1.4vw;
  border-radius: 5px;
  text-align: center;
  line-height: 5vh;
  margin: 1vw;
}


#search{
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-navbar{
  width: 40vw;
  border-radius: 5px;
  line-height: 5.5vh;
  padding: 0;
}

#divide{
  height: 5vh;
  width: 0.1vw;
  margin: 0.8rem;
  text-align: center; background-color: gray;
}

.watchLater{
  font-size: 1.5vw;
  width: 14vw;
  text-decoration: none;
  color: white;
}


.upcomingImg{
  width: 60vw;
  height: 63vh;
  margin-top: 10vh;
}
.upcoming-mainleft{
  left: 8%;
}

.upcoming-mainright{
  left: 61%;
}

.upcoming-mainleft, .upcoming-mainright{
  color:white;
  background-color: rgba(24, 23, 23, 0.189);
  width: 3vw;
  height: 7vh;
  position: absolute;
  bottom: 50%;
  text-align: center;
  line-height: 7vh;
  border: 1px solid white;
}

.upcoming-mainleft:hover, .upcoming-mainright:hover{
  cursor: pointer;
  color: rgb(0, 0, 0);
  background-color: white;
}
.upcoming-mainDescription{
  color: white;
  width: 50vw;
}

.upcoming-overview{
  font-size: 1rem;
}

.upcoming-mainUpper{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.upcoming-mainTime{
  display: flex;
  gap: 1rem;
  margin-left: 5vw;
}

.upcomingSection{
  display: flex;
  justify-content: center;
  background-color: black;
  height: 100vh;
  gap: 3vw;
}

.upcoming-rightSection{
  margin-top: 10vh;
}

.upcomingTitle{
  color: rgb(255, 255, 255)
}

.upcomingMovie{
  display: flex;
  color: white;
  width: 25vw;
  height: 24vh;
  background-color: rgba(122, 116, 116, 0.139);
}

.upcoming-littlePic{
  width: 8vw;
  height: 19vh;
  margin: 1rem 1rem;
}

.upcoming-Time{
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 0.5rem;
}

.upcoming-TimeTitleS{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin-top: 1rem;
}

.moviesDisplay-section{
  background-color: black;
  color: white;
  text-decoration: none;
  padding-top: 5vh;
}

.movieTitle{
  color: white;
  text-decoration: none;
}

.allMovies-section{
  margin: 0 3vw;
  display: grid;
  grid-gap: 3vw;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  background-color: black;
}

div:empty { display: none }

.movie-section{
  height: 50vh;
  width: 100%;
  background-color: rgba(26,26,26,255);
  cursor: pointer;
  margin-top: 3vh;
}

.icon-container{
  position: relative;
}

.movie-image{
  height: 40vh;
  width: 100%;
  position: block;
}

.bookmark-container{
  position: absolute; 
  bottom:86%; 
  left:5%;
  background-color: rgba(153, 153, 153, 0.242);
  width: 2rem;
  height: 3rem;
  opacity: 0.7;
  text-align: center;
}

.bookmark-movie:hover{
  color: black;
}

.bookmark-container:hover{
  background-color: yellow;
}

.title-watchList{
  display: relative;
}

.linkItem{
  text-decoration: none;
  color: white;
  height: 80vh;
  background-color: black;
}

.items-section{
  background-position: center;
  background-repeat: repeat;
  height: 100vh;
  width: 100vw;
  position: fixed;
}


.item-description{
background-color: rgb(0, 0, 0);
opacity:0.8;
color: white;
text-align: center;
position: fixed;
top: 40%;
left: 0;
padding: 3vh 3vw;
height: 60vh;
width: 60%;
}

.items-info{
  display: flex;
  gap: 5rem;
  margin-top: 1rem;
  justify-content: center;
  align-items: start;
}
.button-bookmark{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30vw;
}

.Itempage-bookmark{
  cursor: pointer;
}

.item-title{
  font-family: cursive;
  font-weight: bold;
  color: yellow;
  font-size: 4vh;
}

.item-overview{
  font-size: 3vh;
}

.go-back{
  color: black;
  background-color: white;
  text-decoration: none;
}

.goback-button{
  border-radius: 7px;
  padding: 0.5rem;
  margin-top: 1.5rem;
  font-size: 1vw;
}

.initial-description{
  background-color: black;
  color: white;
  padding-left: 2vw;
  font-size: 1.5rem;
  margin-left: 3vw;
}

.vote-items, .extraInfo-items{
  display: flex;
  flex-direction: column;
  gap: 1vh;
  font-size: 2.5vh;
}

.adultsonly-items{
  margin-top: 1rem;
  font-size: 3vh;
}

.logo-navbar{
  height: 10vh;
}